@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This would not have happened if... Mr. Žilvinas Girėnas and MR. Tomas Naikus would not see the perspective in the candidate Paulius Minkevičius. So thanks for the opportunity!</p><br>
<p>This week was full of new things I have learned. First of all, in my current job I have used recently released sharepoint features. Using VS Code and mix of node.js gulp yo commands I have created holidays webpart using React js structure with posibility to specify each instance of webpart title, number of items to show, and datasource in recently added web part properties panel.</p> <br>
<p>Inspired with this small success, I was looking forward for this homework assignment. The task came to me at Jun 27 at 9:59 AM. First day evening was for getting information: what is CRUD, Entity framework.</p><br>
<p>Second day I was finished with my tasks at job, so I tried to prepare enviroment in my job`s virtual mashine. First difficulty was chosing correct SQL from given link <a href="https://www.microsoft.com/en-us/download/details.aspx?id=29062"> MS SQL Server Express</a>. After random selection, later i asked my friend admin, what should i choose, and he said SQLManagementStudio_x64_ENU.exe is best for local database. I have tried simple empty MVC project. But my remote desktop enviroment was a bit slowly, so i came up with decision to do this task in my home pc.</p><br>
<p>Yesterday in the evening I`ve installed VS Community 2017, SQL Server Management studio (MS), database. Second difficulty was that SQL MS didn`t see my local pc as server. I have googled that SQL Server express would help. So after instalation of express, SQL MS showed my pc as server.</p> <br>
<p>Third dificulty was attaching Adventures Work database. It came with error, that log file was not found. Again, short google search gave tip to delete that log file form database details list.</p><br>
<p>Fourth difficulty was connecting VS and just created database. After some searching and configuration of SQL server Management i have enabled Named Pipes protocol for SQLExpress. Then i asked my friend admin for help. He also enabled TCP/IP protocol and gave TCP port 1433 for all IPs. After restarting SQL service, this made the fix. Finally VS and database are connected.</p><br>
<p>Then i have read some tutorials: <a href="http://www.entityframeworktutorial.net/EntityFramework5/entity-framework5-introduction.aspx">Basics of Entity Framework</a> and <a href="http://www.entityframeworktutorial.net/code-first/entity-framework-code-first.aspx">Entity Framework Code-First</a>.</p>
<p>So yesterday i finished with creating MVC project with layouts, installing Entity framework to this solution, and adding ADO.NET Entity Data Model with Department table</p>
<p>Today i made some readings, studying examples. What a joy was for me, that SQL calls can be made with LINQ. Such a relief. Then i found, that all i need is adding new scaffolded item to models folder. So it created the working CRUD MVC structured. After some tests, I have added Department index view to my default page.</p><br>
<h4>First delivery is ready!</h4><br>


