@{
    ViewBag.Title = "Paulius Minkevičius";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Žirmūnų street<br />
    Vilnius<br />
    <abbr title="Phone">P:</abbr>
    +370 620 86670<br>
    <abbr title="Skype">S:</abbr>
    facebook:gerisniekadanezus

</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:paulius.minkevicius@yahoo.com">paulius.minkevicius@yahoo.com</a>
</address>